.name_card{
    width: 50%;
    display: block; 
    margin: auto;
    border: 0.5px solid gray;
    padding: 20px 10px 20px 20px;
    box-shadow: 3px 2px;
    
  }

  img  {
    width:170px;
    height:170px;
    margin-left:15px;
    display: inline-block;
}

.details{
    display: inline-block;
    width: 70%;
}

.me{
    width: 30%
    
  }
  
  .article{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 0.5px solid gray;
    padding: 0px 10px 20px 20px;
    box-shadow: 7px 4px;
    
  }




  
  .navbar{
   width: 50%;
   margin: auto;
   padding: 10px 0px 0px 0px;
   }
  
  .nav_item{
    display: inline-block;
    width: 46%;
    padding: 10px;
    border: 0.5px solid black;
  
    
  }
  
  .card{
   display: inline-block;
  }
  
  body{
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
  
  #full-name{
    font-size:40;
  }
  
  #designation{
    font-size:30;
  }
  
  .article,p{
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 
  }
  
  
  