.main{
    max-width: 50%;
    margin: auto;
    text-align:center;
    padding-top: 20%;
    padding-bottom: 10%;
}
.footer-link{
    padding-left: 10%;
    padding-right: 10%;
}

footer{
    max-width: 50%;
    margin: auto;
    text-align:center;
    
}