body{
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.main{
  display: flex;
  width: 65%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  
}

.name-card{
  display: flex;
  justify-content: space_between;
  align-items: center;
}

.contact{
  height: auto;
  display: flex;
  justify-content: space-between;
  
}

.social{
  width: 50px;
  height: 50px;
  background-color: #c5d9ed;
  margin: 10px;
  box-shadow: 2px 2px;
  
}

.social:hover{
  box-shadow: 4px 4px;
}



img.dp{
  border-radius: 20%;
  margin-right: 30px;
}

.navbar{
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: auto;
}

.nav{
  width: 33.3%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px;
}

.nav:hover{
  box-shadow: 4px 4px;
}
#div1{

  background-color: crimson;
  
}

.article{
  width: 60%;
  background-color: #fff7e0;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.5px solid gray;
  box-shadow: 7px 4px;
  padding: 20px;
  
}

#div2{

  background-color: teal;
}

#div3 {

  background-color: #008a20;
}

.nav p {
  text-align: center;
  color: white;
  
  
}